#gamesboard-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.game-board {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 20px;
  height: 20px;
}

.option-container {
  width: 500px;
  height: 60px;
  margin: 30px 0;
  background-color: #fae883;
  display: flex;
  align-items: center;
}
.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
  background-color: #249f9c;
}
.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
  background-color: #037a76;
}
.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
  background-color: #f44786;
}
.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
  background-color: #ed1b76;
}
.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
  background-color: purple;
}

.hover {
  background-color: grey;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
  background-color: pink;
}

.boom {
  background-color: red !important;
}

.empty {
  background-color: grey !important;
}
